<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор длины велосипедной цепи</title>
</head>
<body>
    <form method="POST">
        <label for="FC">Количество зубьев на передней большой звезде:</label><br>
        <input type="number" id="FC" name="FC"><br>
        <label for="CS">Количество зубьев на задней большой звезде:</label><br>
        <input type="number" id="CS" name="CS"><br>
        <label for="CL">Длина перьев в мм:</label><br>
        <input type="number" id="CL" name="CL"><br>
        <label for="X">Количество звеньев, которые нужно добавить:</label><br>
        <input type="number" id="X" name="X"><br>
        <input type="submit" value="Рассчитать">
    </form>
</body>
</html>